@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-colour: #121212;
  --primary-colour-mute: #222222DD;
  --opposite-colour: #ffffffde;
  --opposite-colour-mute: #ffffffaa;
  --secondary-colour: #ab00a6;
}

html {
  scroll-behavior: smooth
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  font-weight: normal;

  scrollbar-width: thin;
  scrollbar-color: var(--secondary-colour) var(--primary-colour-mute);
}

*::-webkit-scrollbar {
  width: 8px
}

*::-webkit-scrollbar-track {
  background: var(--primary-colour-mute)
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary-colour);
}

body {
  min-height: 100vh;
  color: var(--opposite-colour);
  background: var(--primary-colour);
  transition: color 0.5s, background-color 0.5s;
  font-family: Roboto, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
